.finance {
  header {
    background: white;
  }

  .top {
    background-image: url("../../../images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .container {
      text-align: center;

      .right {
        display: flex;
        justify-content: center;

        .content {
          background-color: rgb(44, 42, 42);
          width: 80%;
          margin: 0;
          padding: 0;

          .form-text {
            font-style: italic;
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
              sans-serif;
            font-weight: bolder;
            padding: 20px;
            color: #fff;
          }

          .input {
            padding: 10px;
            margin: 20px;
            width: 90%;

            &::placeholder {
              color: #000;
              text-transform: uppercase;
              font-weight: bolder;
            }
          }

          .quote-btn {
            background: rgb(75, 135, 212);
            color: white;
            margin: 30px 0 50px;
            border: 2px solid #fff;
            border-radius: 20px;
            padding: 2px 25px;
            box-shadow: 0 0 1px 1px rgba(253, 255, 255, 0.952);
          }
        }
      }

      .top-text {
        margin: 60px auto;

        h2 {
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-weight: bolder;
          text-decoration: underline;
          margin: 20px;
        }

        h3 {
          line-height: 150%;
        }
      }
    }
  }

  .middle {
    text-align: center;

    .nameTag {
      padding: 15px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      min-height: 80px;
    }

    .description {
      padding: 15px;
      min-height: 300px;
    }

    .view-btn {
      display: flex;
      justify-content: center;
      align-content: flex-end;
      padding: 10px;

      button {
        background: rgb(25, 150, 223);
        color: white;
        border: 1px solid white;
        border-radius: 18px;
        padding: 10px 25px;
        font-size: 12px;
        font-weight: bold;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        font-style: italic;
      }
    }
  }

  .bottom {
    background-image: url("../../../images/bg2.jpg");
    background-repeat: no-repeat;
    height: 640px;
    background-size: cover;
  }

  footer {
    .container {
      display: flex;
      flex-direction: row;

      .logo {
        padding: 15px;

        img {
          max-width: 140px;
          height: auto;
        }
      }

      .info {
        flex-grow: 2;
        border-left: 1px solid gray;
        padding: 15px;
      }

      .private {
        display: flex;
        align-items: flex-end;

        p {
          text-decoration: underline;
          font-weight: bolder;
        }
      }
    }
  }
}
