.main {
  background-image: linear-gradient(
    to bottom right,
    rgb(4, 5, 5),
    rgb(62, 69, 82) /*
    rgb(10, 40, 124),
    rgb(18, 147, 221)
    */
  );
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 100vh;

  .header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

    .logo {
      img {
        max-width: 140px;
        height: auto;
        margin: 25px 0 25px 25px;
      }
    }

    .phone {
      display: flex;
      margin: 30px;

      a {
        color: #fff;
        display: flex;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;

        img {
          max-height: 35px;
          margin: 5px 20px;
        }
      }
    }
  }

  .container {
    width: 90%;

    // first column
    .left {
      .brand {
        h1 {
          font-size: 60px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;
          text-shadow: 3px 3px 3px #000;
        }

        mark {
          display: inline-block;
          background-color: transparent;
          color: rgb(236, 137, 23);
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;
          border-bottom: 5px solid rgb(236, 137, 23);
          padding: 5px;
          margin: 0 0 10px;
        }
      }
      .text {
        .text2 {
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 36px;
          font-weight: bold;
        }
        .text3 {
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 28px;
          font-weight: bold;
          line-height: 150%;
        }
      }
    }

    // second column
    .content {
      border-radius: 40px;
      background-image: linear-gradient(
        to bottom right,
        rgb(30, 32, 36),
        rgb(47, 52, 65)
          /*
        rgb(19, 94, 163),
        rgb(18, 147, 221)
        */
      );
      text-align: center;
      box-shadow: 0 0 5px 5px rgba(20, 20, 20, 0.1);
      padding: 10px;

      .form-text {
        padding: 25px;

        h2 {
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-weight: bold;
          font-size: 28px;
        }
      }

      .input {
        background-color: transparent;
        border: 2px solid white;
        border-radius: 32px;
        padding: 10px;
        min-width: 80%;
        margin: 20px;
        min-height: 60px;
        outline: none;

        &::placeholder {
          color: white;
          font-size: 20px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bolder;
          padding: 0 20px;
        }
      }

      .btn {
        background: rgb(236, 137, 23);
        border-radius: 32px;
        padding: 10px;
        min-width: 80%;
        margin: 20px;
        min-height: 60px;
        color: white;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        padding: 0 20px;
        box-shadow: 0 0 5px 5px rgba(20, 20, 20, 0.2);
      }

      h5 {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        letter-spacing: 2px;
      }

      h6 {
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }
  }

  @media (max-width: 676px) {
    .header {
      .phone {
        a {
          font-size: 12px;

          img {
            margin: 5px;
          }
        }
      }
    }

    .container {
      .content {
        .form-text {
          h2 {
            font-size: 20px;
          }
        }

        .btn {
          font-size: 16px;
        }
      }
    }
  }
}
